.header
  .header-content
    %h1 Material Search Effect
    %h2 Usign CSS Transitions
  .control{ tabindex: 1 }
    .btn
    %i.icon-search.ion-search
%i.icon-close.ion-ios-close-empty
.form
  %input.input-search(  type="text" placeholder="Start Typing")
  
.wrapper 
  #h2 by Luca Dimola